.basetitle {
    border: 1px solid rgb(72, 94, 155);
    background-color: rgb(174, 255, 164);
}
/* arr_table | arr_thead | arr_htr | arr_hth | arr_tbody | arr_tr | arr_td */
.arr_table {
    border: 1px solid rgb(72, 94, 155);
    border-collapse: collapse;
}
.arr_htr {
    border: 1px solid rgb(72, 94, 155);
    border-collapse: collapse;
}
.arr_hth {
    border: 1px solid rgb(72, 94, 155);
    background-color: rgb(255, 251, 195);
}
.arr_hthx {
    border: 1px solid rgb(72, 94, 155);
    background-color: rgb(226, 225, 164);
}
.arr_tr {
    border: 1px solid rgb(72, 94, 155);
}
.arr_td {
    border: 1px solid rgb(72, 94, 155);
}
.arr_tdx {
    border: 1px solid rgb(60, 96, 196);
    background-color: rgb(197, 196, 143);
}
/* obj_table | obj_tbody | obj_tr | obj_td1 | obj_td2 */
.obj_table {
    border-collapse: collapse;
}
.obj_tr {
    border: 1px solid rgb(116, 119, 121);
}
.obj_td1 {
    background-color: rgb(223, 246, 255);
}
.obj_td2 {
    border: 1px solid rgb(157, 161, 146);
}
* {
    font-size: 13px;
  }


  